name: golangci-lint
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - "*"
permissions:
  contents: read

jobs:
  golangci:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-go@v6
        with:
          go-version: "1.25"
          check-latest: true
      - uses: actions/checkout@v6
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v8
        with:
          version: v2.8.0
